In [31]:
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

* Imóveis ativos cujos responsáveis não possuem RIP

In [19]:
converters = {0: str, 1: str, 2: str}
df = pd.read_csv('responsaveis-sem-cpf.csv', sep=';', converters=converters)
df.head()

,nu_rip,nu_processo_adm_inclusao,nu_resp,no_resp
0,11530004139,04911000712200449,000000242,ZILA DE SOUZA ALMEIDA ...
1,13890006276,04988005341201127,000000330,ZENAIDE DOS SANTOS ...
2,13890006274,04988000990201646,000000331,ZENAIDE DOS SANTOS ...
3,13890006248,04988000807201611,000000360,ZELIA RODRIGUES DE ALMEIDA ...
4,56470002895,04947001584201172,000000397,ZEFERINA MARIA DA CONCEICAO ...

* Dados da pesquisa dos processos no SEI

In [44]:
sei = pd.read_csv('processos_rip_pesquisa.csv', sep=';', converters=converters, header=None, names=['nu_processo_adm_inclusao', 'processo_existe'])
sei.head()

  nu_processo_adm_inclusao processo_existe
0          102800099458522           False
1        04957007400200782           False
2           04800100868261           False
3             508000718834           False
4          110800091938691           False

In [21]:
df = df.merge(sei, how='left', on='nu_processo_adm_inclusao')

In [43]:
def acumula(x):
    return round(len(x) / len(df), 2)

df.groupby('processo_existe').agg({'nu_rip': acumula})

                 nu_rip
processo_existe
False              0.35
True               0.65